<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel="stylesheet" href="stylesheets/style0.css" />
    <link rel="stylesheet" href="stylesheets/style1.css" />
    <link rel="stylesheet" href="stylesheets/style2.css" />
    <script type="text/javascript" src="javascripts/script0.js"></script>
    <script type="text/javascript" src="javascripts/script1.js"></script>
    <script type="text/javascript" src="javascripts/script2.js"></script>
  </head>
  <body>
    <%- body %>
    <img src="images/icon0.png" />
    <img src="images/icon1.png" />
    <img src="images/icon2.png" />
    <img src="images/icon3.png" />
    <img src="images/icon4.png" />
    <img src="images/icon5.png" />
    <img src="images/icon6.png" />
    <img src="images/icon7.png" />
    <img src="images/icon8.png" />
    <img src="images/icon9.png" />
  </body>
</html>
